.drop-cap::first-letter {
    float: left;
    font-size: 3em;
    line-height: 1;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    margin-right: 0.1em;
    font-family: "Old English Text MT", serif, Arial, sans-serif;
    color: maroon;
  }
  .row {
    margin-bottom: 1rem;
  }
  